.cart-page-container {
    display: block;
    background: #F6F6F6;
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cart-page-title {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.cart-page-list-container {
    background: #FFF;
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cart-item-img {
    float: left;
    width: 40%;
}

.cart-item-info {
    float: left;
    margin-top: 20px;
    width: 40%;
}

.cart-item-container {
    width:800px;
    margin-left: 50px;
    margin-top: 20px; 
    clear: both;   
}

.cart-item-img img {
    margin-top: 20px;
    width:200px;
    height: 150px;
}

.cart-item-category {
    color: #737D76;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.cart-item-title {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
     font-weight: bold;
     text-transform: uppercase;
     color: #393A35;
     margin-top: 10px;     
}

.cart-overview-page {
    clear: both;    
    color: #393A35;
    float: right;
    margin-right: 100px;
}

.cart-overview-title {
    margin-top: 40px;
    color: #737D76;
}

.overview-separator {
    margin-top: 250px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.cart-overview-subtotal, .cart-overview-total {
    text-transform: uppercase;
    margin-right: 20px;    
    color: #737D76;
    letter-spacing: 2px;
    line-height: 26px;
}

.cart-overview-total span{
    color: #000;
    font-weight: bold;
}

.cart-item-actions {
    width: 20%;
    float: right;    
}

.cart-item-quantity, .cart-item-remove {
    width:10%;    
    margin-top: 20px;
    margin-left: 60px;
}

.cart-item-quantity {
    float: left;
}

.cart-item-remove {
    float: right;
}

.cart-item-remove:hover {
    cursor:pointer;
}

.cart-item-remove {
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 60px; */
    margin-left: 30px;
    margin-top: 35px;
    color: #737D76;
}

.cart-overview-checkout-btn button {
    background: #1D1D1F;
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 20px;
    margin-top: 40px;
    float: right;
}

.cart-overview-checkout-btn button:hover {
    cursor: pointer;
    background: #737D76;
}

.cart-overview-continue-shopping {
    float: left;    
    margin-top: 40px;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.cart-overview-continue-shopping a {    
    color: #000;
}

.cart-overview-continue-shopping a:hover {
    cursor: pointer;
}

.cart-item-quantity input[type=number]::-webkit-inner-spin-button{
    opacity: 1;
    height: 20px;
    width:20px;    
}

.cart-item-quantity input[type=number] {
    width: 60px;
    height: 50px;
    background: #ECECEC;
    border:none;
    outline:none;
    font-size: 25px;
    text-align: center;
    float: left;
    color: #737D76;
}

.cart-item-quantity input[type=number]::-webkit-inner-spin-button,
.cart-item-quantity input[type=number]::-webkit-outer-spin-button
{
  margin: 5px;    
}

.empty-cart-action {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase; 
    margin: 20px;
    margin-right: 300px;    
}