.product-list-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
}

.product-item-card {
    background:#FFF;
    width: 30%;
    height: 300px;            
}

.product-item-element {
    margin: 20px;
    /* width: 100%; */
}

.product-item-element:hover {
    /* background: #737D76; */
    opacity: 0.4;
    cursor: pointer;
}

.product-item-card img { 
    background-color: #EEEEEE;
    width: 100%;
    height: 200px;
    clear: both;
}

.product-category {
    width: 100%;
    font-size: 14px;
    text-align: center;    
    color: #737D76;
}

.product-label  {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.product-price { 
    color: #737D76;
    font-size: 14px;    
    text-align: center;
    width: 100%;
}

.action-btns { 
    position: absolute;    
    margin-top: -250px;
    margin-left: 100px;
}

.action-btns button {
    border: none;
    outline: none;
    color: #FFF;
    background:#000;
    clear: both;
    width: 150px;
    height: 50px;
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.action-btns button:hover { 
    cursor: pointer;
    background: #393A35;
}

.action-btns a{ 
    text-decoration: none;
    color: #FFF;
}

.product-detail-container {
    width: 100%;
}

.product-detail-image {
    float: left;
}

.product-detail-image img {
    width: 600px;
    height: 400px;
}

.product-detail-text {
    float: right;
    width:400px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.current-detail {
    color: #737D76;
    font-size: 18px;
    text-transform: uppercase;    
}

.base-url-detail {
    color: #393A35;
    font-weight: bold;
}

.url-breadcrumb {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.product-detail-title, .product-detail-description, .product-detail-price {
    text-align: center;
    margin-bottom: 20px;
}

.product-detail-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;        
}

.product-detail-description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;    
    text-align: center;
    color: #737D76;
    font-weight: 500;
    word-spacing: 4px;
    line-height: 25px;
}

.product-detail-price {
    color: #737D76;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.add-to-cart-action input[type=number]::-webkit-inner-spin-button{
    opacity: 1;
    height: 20px;
    width:20px;    
}

.add-to-cart-action input[type=number] {
    width: 60px;
    height: 60px;
    background: #ECECEC;
    border:none;
    outline:none;
    font-size: 25px;
    text-align: center;
    float: left;
}

.add-to-cart-action input[type=number]::-webkit-inner-spin-button,
.add-to-cart-action input[type=number]::-webkit-outer-spin-button
{
  /* -webkit-appearance: none; */
  margin: 5px;    
}

.add-to-cart-action button {
    border: none;
    outline: none;
    background: #1D1C21;
    /* width: auto; */
    height: 60px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:#FFF;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 20px;
}

.add-to-cart-action {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-left: 60px;   
}

.add-to-cart-action button { 
    text-transform: uppercase;
}

.add-to-cart-action button:hover { 
    cursor: pointer;
    background: #393A35;
}